body {
  background-image: linear-gradient(to right, red, white);
}

div {
  width: 500px;
  margin: 0 auto;

}

.satu {
  height: 400px;
  background-image:radial-gradient(circle at bottom center, white, blue);

}

.dua{
  height: 150px;
  background-image: linear-gradient(to right, white,blue,white 100%);
}
